*
!/.vscode
!/LICENSE
!/README.md
!.gitignore

!kamy-graphics-override
!kamy-graphics-override/**

!aai-industry-kamy-tweaks
!aai-industry-kamy-tweaks/**

!aai-industry-burner-begone
!aai-industry-burner-begone/**

!aai-industry-wall-reskin
!aai-industry-wall-reskin/**

!no-aai-iron-pole-2
!no-aai-iron-pole-2/**
