*
!/.vscode
!/LICENSE
!/README.md
!.gitignore

!kamy-reskins
!kamy-reskins/**

!kamy-circuit-board
!kamy-circuit-board/**

!aai-industry-kamy-tweaks
!aai-industry-kamy-tweaks/**

!aai-industry-burner-begone
!aai-industry-burner-begone/**

!aai-industry-wall-reskin
!aai-industry-wall-reskin/**

!no-aai-iron-pole-2
!no-aai-iron-pole-2/**

!solar-matrix-but-fulgora
!solar-matrix-but-fulgora/**

!remove-mod-buttons
!remove-mod-buttons/**
